.profile_container{
    position: absolute;
    top: 143px;
    right: 59px;
    padding: 106px 48px 50px 49px;
    background: linear-gradient(to bottom, #E9F2F3, #A6C5E3);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.avatar_container{
    width: 120px;
    height: 120px;
    background-color: #D9D9D9;
    border-radius: 50%;
    position: relative;
    margin-bottom: 27px;
}
.button{
    
}