/* .form {
    margin: 143px 59px 47px 1039px;
    background-color: azure;
}

.tag-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    padding: 5px;
    font-size: 14px;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
} */