.avatar_wrapper {
  display: flex;
  flex-direction: justify-content;
}

.avatarPreview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ccc;
}

.img_placeholder {
  flex-direction: justify-content;
  align-self: center;
}

.interests_container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.tag_container {
  display: flex;
  flex-wrap: wrap;
  gap: 21px 0;
}

.tag {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: solid 1px #49535C;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 16px;
  position: relative;
  min-width: 70px;
}

.interests_container {
  margin: 0;
}

.interests_input {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #49535C;
  padding: 5px 16px;
  box-sizing: border-box;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}